<%= render "shared/header" %>

<div class="search-all">

 <div class="search-main-title">
  <i class="fas fa-search"></i>ペットを検索
  </div>


    <div class="search-form">

        <%= search_form_for @search,url: search_pets_path do |f| %>

        <div class="search-field">
        <%=f.label :pet_name_cont,"名前で検索"%>
        <%=f.search_field :pet_name_cont%>
        </div>

        <div class="search-field">
        <%= f.label :animal_type_id_eq,'動物の種類'%>
        <%= f.collection_select :animal_type_id_eq, AnimalType.all, :id, :name, include_blank: '指定なし'%>
        </div>

        <div class="search-field">
        <%= f.label :bleed_id_eq, '猫の種類で検索' %>
        <%= f.collection_select :bleed_id_eq, Bleed.all, :id, :name, include_blank: '指定なし'%>
        </div>
        

        <div class="search-field">
        <%= f.label :dog_bleed_id_eq, 'イヌの種類で検索' %>
        <%= f.collection_select :dog_bleed_id_eq, DogBleed.all, :id, :name, include_blank: '指定なし'%>
        </div>

        <div class="search-field">
        <%= f.submit "検索",class:"search-btn" %>
        </div>
     <%end%>
    </div>


<%# ペット一覧 %>

<div class="search-result">
<div class="lists-all">

<div class="lists-user">
  <% @pets.each do |pet|%>
    <div class="lists-user-individual">

    <div class="lists-image">
      <% if pet.image.attached? %>
        <%=image_tag pet.image, class:"lists-icon"%>
        <%else%>
        <%=image_tag 'default.jpg',class:"lists-icon"%>
      <%end%>
      </div>

      <div class="lists-pets-detail">
        
        <div class="lists-pet-name"><%=link_to pet.pet_name,detail_user_path(pet.user)%></div>
        <div class="lists-pet-type"><%= pet.animal_type.name %></div>
        <div class=><i class="fas fa-apple-alt"></i> bleed : 
        <%if pet.bleed.present?%>
           <%= pet.bleed.name%>
           <%else%>
           <%=pet.dog_bleed.name%>
           <%end%></div>
      
        <div><i class="fas fa-user"></i> user name : <%=link_to pet.user.nickname,detail_user_path(pet.user)%></div>
     </div>

    </div>
    <%end%>

</div>


</div>

</div>





</div>