<%= render "shared/header" %>

<div class="search-all">


<%= search_form_for @search,url: search_pets_path do |f| %>

<%=f.label :pet_name_cont,"名前で検索"%>
<%=f.search_field :pet_name_cont%>


<%= f.label :bleed_id_eq, '種類の選択' %>
 <%= f.collection_select :bleed_id_eq, Bleed.all, :id, :name, include_blank: '指定なし'%>
<%= f.submit "検索" %>



<%# ペット一覧 %>

<div class="search-result">
  <% @pets.each do |pet| %>
   
  <%=image_tag pet.image,class:"icon"%>
  <%=pet.pet_name %>
  <%=pet.bleed.name%>
 
  <%end %>

</div>

<%end%>


</div>