<%= render "shared/header" %>

<div class="pet-show-all">


<div class="edit-pet">
<%=link_to '編集 ',edit_pet_path(@pet.id), method: :get%>
</div>

<div class="pet-info">
あなたが登録したペット
<div>

<div class="your-pet-image">
<%if @pet.image.attached?%>
<%= image_tag @pet.image.variant(resize:"200x200")%>
<%end%>
</div>

<label> おなまえ </label>
<div>
<%= @pet.pet_name%>
</div>

<label> 性別 </label>
<div>
<%= @pet.gender.name%>
</div>

<label> 種類 </label>
<div>
<%if @pet.bleed.present?%>
           <%= @pet.bleed.name%>
           <%else%>
           <%=@pet.dog_bleed.name%>
           <%end%>
</div>

</div>