
<%# head %>

<%= render "shared/header" %>

<%# head %>

<%# contents %>

<div class="top-wrapper">
<div class="container">
       </p><i class="fas fa-question-circle"></i>About petter</p>
        <p>ペットを投稿で共有するサイトです</p>
        <p>ペットの投稿やペットの予定管理ができます</p>
        <p></p>
    </div>

</div>

<div class="boxA">


  <div class="tweet1">
 
  </div>





  <div class="tweet2">

      <div class="title">
      あなたのペットを投稿してみんなに共有しよう
      </div>

      <p class="listings">
        <%= link_to '投稿する',new_tweet_path %><i class="fas fa-pen"></i>
      </p>


    
      <p class="search">
       
       <% if user_signed_in?%>
       <% if current_user.pets.present?%>
        <%=link_to 'ペットの編集',edit_pet_path(current_user.pets.first)%> <i class="fas fa-edit"></i>
        
       <%else%>
       <%=link_to 'ペットを登録',new_pet_path%><i class="fas fa-cat"></i>
       <%end%>

       <%else%>
        <%=link_to 'ペットを登録',new_user_session_path%>
       <%end%>

      </p>

  </div>


</div>

<% if user_signed_in?%>
<div class="lists-title">今週の予定</div>
  <div>
  <%= week_calendar events: @plans do |date, plans| %>
        <%= date.day %>
        <% plans.each do |plan| %>
          <div class="plan-text">
            <%= plan.title %>
            <div class="calendar-btn">
            <%=plan.tag%> 
            <%= link_to plan_path(plan.id) , method: :delete do%>
            <i class="far fa-trash-alt"></i>
            <%end%>
            </div>
          </div>
        <% end %>
  <%end%>
  </div>





   <p class="listings">
    <%= link_to '予定を作成',new_plan_path %><i class="fas fa-pen"></i>
  </p>


<%end%>


  <div class="pets">

  <div class="lists-title">みんなの投稿</div>
  <div class="tweet-lists">
    <% @tweets.each do |tweet| %>

     <li class="petlist"> 
      <%= link_to tweet_path(tweet.id) do %>
      <div class="pet-image-content">
        <%if tweet.images.attached?%>
        <%= image_tag tweet.images[0].variant(resize: "200x200"), class:"pet-image" %>
        <%end%>
      </div>
      

      <div class="tweet-info">
          <h3 class="tweet-title">
            <%= tweet.title%>
            </h3>
            <div class="tweet-by">by <%=tweet.user.nickname%>さん</div>
          
      </div>
    </li>
    <%end%>
    <%end%>
    </div>

  </div>


