
<%# head %>

<%= render "shared/header" %>

<%# head %>

<%# contents %>

<div class="top-wrapper">
<div class="container">
      　</h1>petterとは...?</h1>
        <p>愛犬を共有するサイトです</p>
        <p>自慢の愛犬を投稿して共有してみましょう</p>
        <p></p>
    </div>

</div>

<div class="boxA">


  <div class="tweet1">
 
  </div>





  <div class="tweet2">

      <div class="title">
      我が家の愛犬を共有しよう
      </div>

      <p class="listings">
        <%= link_to '投稿する',new_tweet_path %>
      </p>

      <p class="search">
      　<a href="#" class="button">検索する</a>
      </p>

  </div>

  <div class="tweet3">
  
  </div>

</div>

  <div class="pet">
　　<% @tweets.each do |tweet| %>
     <li class="petlist">
     <%= link_to tweet_path(tweet.id) do %>
      <div class="pet-image-content">
      <%if tweet.image.attached?%>
      <%= image_tag tweet.image.variant(resize: "200x200"), class:"pet-image" %>
      <%end%>
      </div>

    <div class="tweet-info">
        <h3 class="tweet-title">
          <%= tweet.title%>
        </h3>
    </div>
    <%end%>
    <%end%>
  </div>



<div class="box5">


</div>