<%= render "shared/header" %>


<div class="rank-main-title">
  <i class="fas fa-crown"></i> ランキング
  </div>

<div class="rank-all">

  
   <%# 右側のタグランキング %>
    <div class="rank-tweet">

    <div class="rank-heading">＼ ツイートいいねランキング ／</div>

      <% @all_ranks.each.with_index(1) do |tweet,i|%>

        <div class="rank-individual">
        <div class="rank-num">第<%= i %>位 </div> 
            <%= link_to tweet_path(tweet.id) do %>
              

              <div class="rank-title">
              <%=tweet.title%>
              </div>
              
              <div class="rank-image">
                <% if tweet.images.attached?%>
                <%=image_tag tweet.images[0].variant(resize: "200x200")%>
                <%end%>
              </div>

              <div class="rank-nickname">
              By <%=tweet.user.nickname%>
              </div>

            <%end%>
          </div>

        <%end%>
    </div>


    <%# 左側のタグランキング %>
      <div class="rank-tag-all">
         <div class="rank-heading">＼ 人気タグランキング ／</div>
          <% @tag_lanks.each.with_index(1) do |tag,i| %>
          <div class="rank-tag-individual">
            <div class="rank-num">第<%= i %>位 </div> 
            <div class="rank-tag"><%= tag.name%></div>
          <%end%>
          </div>
      </div>
      


 </div>

 <%= render "shared/footer" %>