<%= render "shared/header" %>


<div class="rank-main-title">
  <i class="fas fa-crown"></i> ランキング
  </div>
<div class="rank-all">

  

    <div class="rank-tweet">
      <% @all_ranks.each.with_index(1) do |tweet,i|%>
       <div class="rank-individual">
        <%= link_to tweet_path(tweet.id) do %>
        <div class="rank-num">第<%= i %>位 </div>  
        <div class="rank-title"><%=tweet.title%></div>
        
      <div class="rank-image">
        <% if tweet.image.attached?%>
        <%=image_tag tweet.image.variant(resize: "200x200")%>
        <%end%>
        </div>

        <div class="rank-nickname">By <%=tweet.user.nickname%></div>
        <%end%>
        </div>
       <%end%>
      </div>

    
      <div class="rank-tag-all">
        <% @tag_lanks.each.with_index(1) do |tag,i| %>
          <div class="rank-tag-num">第<%= i %>位 </div> 
          <div class="rank-tag"><%= tag.name%></div>
        <%end%>
      </div>


 </div>
