<%= render "shared/header" %>

<div class="detail-all">

  <div class="detail-left">

    <div class="detail-name d"><%= @user.nickname%>さんのページ</div>
  

   
    <div class="detail-intro d">

      <%if @user.image.attached?%>
      <%= image_tag @user.image, class:"detail-icon"%>
      <%else%>
        <%=image_tag 'default.jpg',size: '100x100' %>
      <%end%>
     



    <% flash.each do |message_type, message| %>
    <div>
         <%= message%>
         </div>
         <% end %>
         <%= render partial:'relationships/follow_button', locals:{user: @user} %>
      
      <%=link_to  following_user_path do%>
      <div class="following-count">
         フォロー  <%= @follow_count %>
       </div>
       <%end%>
        
        <%= link_to follower_user_path do%>
       <div class="follower-count">
       フォロワー<%= @follwer_count%>
       </div>

      
       <%end%>



      <div class="detail-text-title">自己紹介</div>
      <%if @user.introduction !=nil%>
       <div class="detail-text"><%=@user.introduction%></div>
       <%else%>
       まだ登録されていません。
       <%end%>
      </div>

  </div>


<% if @pet.present?%>
   <div class="detail-pet-all">

       <div class="detail-pet-title">
        ペットの紹介<i class="fas fa-cat"></i>
       </div>


      <div class="pet-left ">

        <div class="detail-pet p">
          <div class="pet-label">おなまえ</div>
          <%=@pet.pet_name%>
        </div>


        <div class="detail-pet-gender p">
        <div class="pet-label">性別</div>
        <%= @pet.gender.name%>
        </div>

        <div class="detail-pet-bleed p">
          <div class="pet-label">種類</div>
          <%if @pet.bleed.present?%>
           <%= @pet.bleed.name%>
           <%else%>
           <%=@pet.dog_bleed.name%>
           <%end%>
        </div>
    
      
      <div class="detail-birth p">
      <div class="pet-label">お誕生日</div>
      <%= @pet.birth%>
      </div>

       <div class="detail-personality p">
       <div class="pet-label">どんなこ？</div>
         <%=@pet.personality%>
         </div>

     </div>
         
      <div class="pet-right ">

        <div class="detail-pet-image">
        <% if @pet.image.attached?%>
        <%= image_tag @pet.image, class:"pet-icon"%>
        <%end%>
        </div>

      </div>
     
  <div>

  <%end%>




  <div class="detail-user-tweets">
    <%=@user.nickname%>さんの投稿
  </div>
<%if @user.tweets.present?%>

  <div class="detail-right">
  
   <div class="detail-tweets">
    <% @user.tweets.each do |tweet |%>
     <li class="detail-tweet">
        <%= link_to tweet_path(tweet.id) do %>
       <div class="detail-image">
          <%if tweet.images.attached?%>
          <%= image_tag tweet.images[0].variant(resize: "300x300")%>
          <%end%>
       </div>

        <div class="detail-tweet-info">
          <h3 class="detail-tweet-title">
             <%= tweet.title%>
          </h3>
       </div>
       </li>
        <%end%>
      <%end%>

   </div>
  
 </div>

 <%else%>
      <div class="no-tweets">まだ投稿されていません <i class="fas fa-crow"></i> <i class="fas fa-kiwi-bird"></i> <i class="fas fa-crow"> <i class="fas fa-kiwi-bird"></i></i></div>

<%end%>


</div>

<%= render "shared/footer" %>