<%= render "shared/header" %>

<div class="edit-all">



<div class="edit-contents">
<%= form_with  model:@user,local:true do |user|%>

 <div class="edit-title ">
   ユーザー情報の編集
 </div>

 <div class='edit-text-wrap e'>
      <label class="form-text">ニックネーム</label>
      <%# <span class="indispensable">必須</span> %>
    <%= user.text_field :nickname, class:"input-default pl", id:"nickname", placeholder:"ワンコニャンコ", maxlength:"30" %>
  </div>

  

  <div class="edit-introduction e">
  <label class="form-intro">自己紹介</label>
  <%=user.text_area :introduction ,class:"pl", placeholder:"はじめまして。猫を飼っています。よろしくお願いします。"%>
  </div>

  <div class='edit-text-wrap e'>
      <label class="form-text">メールアドレス</label>
    
    <%= user.email_field :email, class:"input-default pl", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
  </div>

   <div class="edit-image e">
    <label>パスワード</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= user.password_field :password, autocomplete: "new-password " ,class:"pl"%>
  </div>

  <div class="edit-image e">
    <label>パスワードの確認<label>
    <%= user.password_field :password_confirmation, autocomplete: "new-password",class:"pl" %>
  </div>

  
  <div class="edit-image e">
   <%= user.file_field :image, class:"pl e" %>
  </div>
  <div id="image-list"></div>

  <div class="edit-submit e">
  <%= user.submit "編集" ,class:"submit" %>
  </div>
<%end%>

</div>
</div>