<%= render "shared/header" %>

<div class="follower-all">


<div class="follower-main-title">
<i class="fas fa-users"></i> <%=@user.nickname%>さんのフォロー一覧
</div>

  <div class="follower-list">
    <% @followings.each do |f|%>
      <div class="follower-individual">

        <div class="lists-image">
          <% if f.image.attached?%>
          <%=image_tag f.image, class:"lists-icon"%>
          <%else%>
          <%=image_tag 'default.jpg',size: '100x100', class:"lists-icon" %>
          <%end%>
        </div>
       
        <div class="follower-detail">
            <div class="follower-name">
            <i class="fas fa-user"></i> <%= link_to f.nickname,detail_user_path(f)%>
            </div>
            <%if f.pets.present?%>
            <div class="follower-pet-name">
            <i class="fas fa-cat"></i> pet name: <%=f.pets[0].pet_name%>
            </div>
            <%else%>
            <i class="fas fa-cat"></i> pet name: まだ登録されていません
            <%end%>

            <% if f.introduction.present?%>
            <div class="follower-introduction">
            <i class="far fa-sticky-note"></i> introduction :<%=f.introduction%>
            </div>
            <%else%>
            <div class="follower-introduction">
            <i class="far fa-sticky-note"></i> introduction :まだ登録されていません
            </div>
            <%end%>
        </div>

        

      </div>
    <%end%>
  </div>



</div>