<%= render "shared/header" %>


<div class="lists-all">
<div class="lists-user">
  <% @users.each do |user|%>
    <div class="lists-user-individual">
      <% if user.image.attached? %>
        <%=image_tag user.image, class:"lists-icon"%>
        <%else%>
        <%=image_tag 'default.jpg',class:"lists-icon"%>
      <%end%>
      <div>user name : <%=link_to user.nickname,detail_user_path(user)%></div>
    
     <div> pet name : 
     <%# <%=user.pet_name%> %>
     </div>

     <div>bleed :</div>
     

    </div>
    <%end%>

</div>

</div>