<%= render "shared/header" %>


<div class="likes-currentuser-nickname">
<%=@user.nickname%>さんのマイページ
<div class="return">
<%= link_to 'もどる',edit_user_path(current_user) %>
</div>
</div>



<div class="like-all">
  <% current_user.tweets.each do |tweet |%>
   <div class="likes-tweets">
     <%= link_to tweet_path(tweet.id) do %>
     
        <div class="likes-title">
          <%= tweet.title%>
        </div>
   
      
      <%if tweet.image.attached?%>
      <div class="likes-image"><%= image_tag tweet.image.variant(resize: "200x200")%></div>
      <%end%>

     <div class="likes-nickname">By <%=tweet.user.nickname%></div>
      
     <%end%>
   </div> 
    <%end%>
  </div>

</div>

