<%= render "shared/header" %>

<div class="mytweet-all">

<div class="mytweet-currentuser-nickname">
<i class="far fa-file"></i> <%=@user.nickname%>さんのマイページ
<div class="return">
<%= link_to 'もどる',user_path(current_user) %>
</div>
</div>




  <% current_user.tweets.each do |tweet |%>
   <div class="mytweet-tweets">
     
     <%= link_to tweet_path(tweet.id) do %>
      <%if tweet.images.attached?%>
          <div class="mytweet-image">
          <%= image_tag tweet.images[0].variant(resize: "200x200"),class:"mytweet-icon"%>
          </div>
        <%end%>
          <div class="mytweet-detail">
            <div class="mytweet-title">
              <%= tweet.title%>
            </div>
            <div class="mytweet-text">
             <%=tweet.text%>
            </div>
        </div>

     <%end%>
   </div> 
    <%end%>
  </div>

</div>

<%= render "shared/footer" %>