<%= render "shared/header" %>

<%if user_signed_in? && current_user.id  %>

<%= @user.nickname%>さんのマイページ
<%=link_to 'みんなからみたあなたのページ',detail_user_path(@user)%>
<div>
 <%= @user.introduction %>
 </div>

<div>
<%=link_to 'ユーザー情報の編集',edit_user_path %>
</div>

<div>
<%=link_to 'いいねした投稿','/'%>
</div>

<div>


<%=link_to '投稿したtweet',mypage_user_path %>



<div>
<%=link_to'フォロー'%>
<%=link_to'フォロワー'%>

 <% if @image.present?%>
  <%=image_tag @image, class:"icon" %>
  <%else%>
  no images　<%=image_tag 'default.jpg',size: '100x100' %>
<%end%>


<%else%>

新規登録してください


<% end %>