<%= render "shared/header" %>

<%if user_signed_in? && current_user.id  %>



  <div class="user-nickname ">
  
    <i class="fas fa-user"></i> <%= @user.nickname%>さんのマイページ
  </div>

<div class="all-mypage">
<div class="user-profile">
  <div class="user-icon ">
  <div class="u-ex">あなたのプロフィール画像</div>
  <%= link_to edit_user_path(current_user) do %>
   <% if @image.present?%>
    <%=image_tag @image, class:"icon" %>
    <%else%>
     <%=image_tag 'default.jpg',class:"icon"%>
    <%end%>

    <div class="u-ex">自己紹介</div>

    <%if @user.introduction != nil %>
    <div class="user-intro"><%= @user.introduction%></div>
    <%else%>
    <div class="user-intro">
     まだ登録されていません。
     </div> 

     <%end%>
   
    <div class="u-ex">あなたのペットの名前</div>

   
    <%end%>
    
  </div>
</div>

 
<div class="mypage-contents ">


  <div class="user-edit u">
    <%=link_to 'ユーザー情報の編集',edit_user_path %>
  </div>

  <div class="user-like u">
    <%=link_to 'いいねした投稿',likes_user_path%>
  </div>

   <div class="user-tweet u">
    <%=link_to '投稿したtweet',mypage_user_path %>
  </div>

  <% if current_user.pets.present?%>
  <div class="user-follow u">
    <%=link_to'登録したペット',pet_path(@user.pets.first)%>
  </div>
<%end%>

  <div class="user-allsee u">
    <%=link_to 'みんなからみたあなたのページ',detail_user_path(@user)%>
  </div>

 <div class="user-calendar u">
    <%=link_to 'カレンダー',plans_path%>
  </div>

</div>

</div>




<%else%>

新規登録してください


<% end %>