<div box1>
  <div class="site">
  <h1><a href="/">petter</a></h1>
  </div>
</div>


  <% if user_signed_in? %>
<div class="box2">
  <ul class="lists-right">
   <nav class="menu">
      <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%=link_to '投稿','/'%></li>
      <li><%=link_to current_user.nickname,'/'%></li> 
   </nav>
   
  </ul>
    

  <nav class="menu2">
      <ul>
        <li><a href="#">種類から探す</a></li>
      </ul>
  </nav>

  </div>
<% else %>
<div class="box2">
  <ul class="lists-right">
   <nav class="menu">
     <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>

   </nav>
   
  </ul>
    

  <nav class="menu2">
      <ul>
        <li><a href="#">種類から探す</a></li>
      </ul>
  </nav>

  </div>

<%end%> 



