
<% if user_signed_in? %>

<header id="header">

  <h1>
  <a href="/">petter <i class="fas fa-paw"></i></a>
  </h1>
 

 <nav class="header-nav1">
      <ul>
        <li><a href="#">種類から探す</a></li>
        <li><%=link_to 'ランキング',lank_tweets_path%></li>
        <li><%=link_to 'ペット一覧',lists_users_path %></li>  
      </ul>
  </nav>



  <nav class="header-nav2">

    <ul>
      <li><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout" %></li>
      <li><%=link_to '投稿',new_tweet_path %></li>
      <li><%=link_to current_user.nickname,user_path(current_user) %> </li> 
    </ul>
   </nav>

 </header>

    



<% else %>


<header id="header">
  
  <h1>
  <a href="/">petter <i class="fas fa-paw"></i></a>
  </h1>


  <nav class="header-nav2">

    <ul>
     <li><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
   </nav>

 </header>

<%end%> 



