
<% if user_signed_in? %>

<header id="header">

  <h1>
  <a href="/">petter <i class="fas fa-paw"></i></a>
  </h1>
 

 

 <nav class="header-nav1">
      <ul>
        <li class="header-btn"><i class="fas fa-search"></i><%=link_to '種類から探す',search_pets_path%></li>
        <li class="header-btn"><i class="fas fa-crown"></i><%=link_to 'ランキング',lank_tweets_path%></li>
        <li class="header-btn"><i class="fas fa-paw"></i><%=link_to 'ペット一覧',lists_users_path %></li>  
      </ul>
  </nav>



  <nav class="header-nav2">

    <ul>     
      <li class="header-btn"><i class="fas fa-user"></i><%=link_to current_user.nickname,user_path(current_user) %> </li> 
      <li class="header-btn"><i class="fas fa-pencil-alt"></i><%=link_to '投稿',new_tweet_path %></li>
      <li class="header-btn"><i class="fas fa-calendar-alt"></i><%= link_to 'カレンダー',plans_path%>
      <li class="header-btn"><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト',destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
   </nav>

 </header>

    



<% else %>


<header id="header">
  
  <h1>
  <a href="/">petter <i class="fas fa-paw"></i></a>
  </h1>


  <nav class="header-nav2">

    <ul>
     <li class="header-btn"><%= link_to 'ログイン', new_user_session_path, class: "login" %></li>
      <li class="header-btn"><%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>
    </ul>
   </nav>

 </header>

<%end%> 



