

<%= render "shared/header" %>

<div class="plan-all">

  <div class="plan-create">
  <%= link_to "予定を作成", new_plan_path, class:"plan_new"%>
  </div>

  <div class="plan-calendar">
   <%= week_calendar events: @plans do |date, plans| %>
      <%= date %>
      <% plans.each do |plan| %>
        <div class="plan-text">
          <%= plan.title %>
          <%=plan.tag%>
        </div>
      <% end %>

    <% end %>
  </div>

</div>