<!DOCTYPE html>
<html>
  <head>
    <title>Petter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/fd53150b36.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width,initial-scale=1">
   
  </head>


  <body>
  <div class="wrap">
    <%= yield %>
    </div>
    
  </body>
</html>
